<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/common/header.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/movie.css">
    <link rel="stylesheet" href="/css/location.css">
    <title>Movie</title>
</head>
<body>
    <div id="container">
        <header>
            <div id="top-header">
                <div>
                    <a href="/">
                        <h1>Movie</h1>
                    </a>
                </div>
                <div id="header-user">
                    {{^userName}}
                        <a href="/loginPage">
                            <div>
                                <i class="fa-solid fa-lock"></i>
                                <p>로그인</p>
                            </div>
                    </a>
                    {{/userName}}
                    {{#userName}}
                        <a href="/logout">
                            <div>
                                <i class="fa-solid fa-lock"></i>
                                <p>로그아웃</p>
                            </div>
                        </a>
                    {{/userName}}

                    <a href="">
                        <div>
                            <i class="fa-regular fa-user"></i>
                            <p>MY</p>
                        </div>
                    </a>
                </div>
            </div>
            <div id="sidebox">
                <div id="main-sidebar">
                    <div class="sidebar">
                        <a href="">
                            <p>영화</p>
                        </a>
                    </div>
                    <div class="sidebar">
                        <a href="">
                            <p>예매</p>
                        </a>
                    </div>
                    <div class="sidebar">
                        <a href="">
                            <p>스토어</p>
                        </a>
                    </div>
                    <div class="sidebar">
                        <a href="/location">
                            <p>극장찾기</p>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </div>
