<div id="mypage-container">
    <div id="mypage-sidebar">
        <div class="div-sidebar">
            <a href="">
                <p>회원 관리</p>
            </a>
        </div>
        <div class="div-sidebar">
            <a href="">
                <p>영화 관리</p>
            </a>
        </div>
        <div class="div-sidebar">
            <a href="">
                <p>상영 관리</p>
            </a>
        </div>
    </div>

    <div id="mypage-main">