*{
    margin: 0;
    padding: 0;
}

#top-header{
    display: flex;
    justify-content: space-between;
    margin: 1% 5%;
}

header a{
    text-decoration: none;
    color: black;
}

#header-user{
    width: 15%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
}

#header-user i{
    font-size: 30px;
}

#sidebox{
    border-top: 1px solid lightgray;
    border-bottom: 2px solid red;
    margin-top: 2%;
}

#main-sidebar{
    display: flex;
    justify-content: space-around;
    padding: 1% 0;
    margin-left: 2%;
    width: 30%;
    font-size: large;
}

.sidebar a:active{
    color: red;
}

#main-container{
    height: 100%;
}

#movie-list{
    width: 60%;
    margin: 4% auto;
}

.movie-box{
    width:25%;
    height: 400px;
    display: inline-block;
    border-radius: 15px;
    margin: 1% 3%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    position: relative;
}

.movie-img{
    width: 100%;
    height: 90%;
    border-radius: 15px;
    margin-bottom: 2%;
    border: 1px solid black;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
}

.index-btn-box{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.index-btn-box a{
    text-decoration: none;
    color: white;
}

#index-reser-btn{
    height: 40px;
    text-align: center;
    display: inline-block;
}

#index-reser-btn p{
    background-color: red;
    width: 105%;
    padding: 10px;
    border-radius: 20px;
}

.index-info-btn{
    height: 40px;
    text-align: center;
    display: inline-block;
}

.index-info-btn p {
    background-color: black;
    width: 105%;
    padding: 10px;
    border-radius: 20px;
}
