{{>layout/header}}

<div id="movie-list">
    {{#movies}}
        <div class="movie-box">
            <p>{{title}}</p>
            <img src="/images/{{movieImage}}.png" alt="" class="movie-img">
            <div class="index-btn-box">
                <a href="">
                    <div id="index-reser-btn">
                        <p>예매하기</p>
                    </div>
                </a>
                <a href="/movies/{{no}}">
                    <div class="index-info-btn">
                        <p>상세정보</p>
                    </div>
                </a>
            </div>
        </div>
    {{/movies}}
</div>

<!--<div class="col-md-12">-->
<!--    <div class="row">-->
<!--        <div class="col-md-6">-->
<!--            <a href="/boards/save" role="button" class="btn btn-primary">글 등록</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <br>-->
<!--    &lt;!&ndash; 목록 출력 영역 &ndash;&gt;-->
<!--    <table class="table table-horizontal table-bordered">-->
<!--        <thead class="thead-strong">-->
<!--        <tr>-->
<!--            <th>게시글번호</th>-->
<!--            <th>제목</th>-->
<!--            <th>작성자</th>-->
<!--            <th>최종수정일</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody id="tbody">-->
<!--        {{#movies}}-->
<!--            <tr>-->
<!--                <td>{{no}}</td>-->
<!--                <td><a href="/boards/update/{{no}}">{{title}}</a></td>-->
<!--                <td>{{actors}}</td>-->
<!--                <td>{{intro}}</td>-->
<!--            </tr>-->
<!--        {{/movies}}-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

{{>layout/footer}}
