{{>layout/header}}
<div id="reservation-box">
    <div id="reser-movie-box">
        <div class="reser-title">
            <p>영화</p>
        </div>
        {{#movies}}
        <div id="reser-movieList">
            <div class="reser-movieTitle">
                <img src="/images/{{limitAge}}.png" alt="">
                <p>{{title}}</p>
            </div>
        </div>
        {{/movies}}
    </div>
    <div id="reser-cinema-box">
        <div class="reser-title">
            <p>극장</p>
        </div>
        {{#cinemas}}
        <div id="reser-cinemaList">
            <div class="reser-movieTitle">
                <p>{{name}}</p>
            </div>
        </div>
        {{/cinemas}}
    </div>
    <div id="reser-date-box">
        <div class="reser-title">
            <p>날짜</p>
        </div>
        <div id="reser-day">
            <div id="year"></div>
            <div id="month"></div>
            <div id="day"></div>
        </div>
    </div>
    <div id="reser-time-box">
        <div class="reser-title">
            <p>시간</p>
        </div>
        <div id="time-box">
            <div class="time-title">
                <p>1관</p>
            </div>
            <div class="title-list">
                <div class="time-set-box">
                    <div class="start-time">
                        <p>18:00</p>
                    </div>
                    <div class="set-leave">
                        <p>100석</p>
                    </div>
                </div>
                <div class="time-set-box">
                    <div class="start-time">
                        <p>18:00</p>
                    </div>
                    <div class="set-leave">
                        <p>100석</p>
                    </div>
                </div>
                <div class="time-set-box">
                    <div class="start-time">
                        <p>18:00</p>
                    </div>
                    <div class="set-leave">
                        <p>100석</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="main-reser-box">
    <div id="main-reser">
        <div id="main-reser-movie">
            <p>영화선택</p>
        </div>
        <div id="main-reser-cinema">
            <p>극장선택</p>
        </div>
        <div id="main-reser-set">
            <p>> 좌석선택 > 결제</p>
        </div>
        <a href="">
            <div id="main-reser-set-btn">
                <p>좌석 선택</p>
            </div>
        </a>
    </div>
</div>
</div>

<script>
    const yearNow = document.querySelector("#year");
    const monthNow = document.querySelector("#month");
    const days = document.querySelector("#day");

    let time = new Date();

    let year = time.getFullYear(); //현재 년도
    let month = time.getMonth(); //현재 달
    let date = time.getDate(); // 현재 일
    let day = time.getDay(); //요일
    let week = ['일', '월', '화', '수', '목', '금', '토'];

    yearNow.innerHTML = `${year}`;
    monthNow.innerHTML = `${month}`;
    days.innerHTML = null;

    for(i = 0; i < 10; i++){
        if(week[day] == '일'){
            days.innerHTML += `<p class="color-red"><span>${week[day]}</span>${date}</p>`;
        }else{
            days.innerHTML += `<p><span>${week[day]}</span>${date}</p>`;
        }
        date++;
        if(day >= 6){
            day = 0;
        }else{
            day++;
        }
    }
</script>

{{>layout/footer}}